# IDE data
.kdev4
*.kdev4
.vs
.vscode
/CMakeSettings.json
.idea

# Generated resources
src/platform/version.c
res/version.rc
res/version.txt
res/julius.icns

# Build output and data directories
/build*/
/bin/
/artifacts/
cmake-build-*
/data
*~
*.swp
/android
# Android
*.iml
.gradle
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx/
distribution/
*.log

/wiki/*
/ozymandias-extra/*
/ozymandias.wiki/*
doc
/doc/*
*.ods#

*.lnk

# Tools
/tools/*
!/tools/*.zip
!/tools/*.7z

